body {
    counter-reset: h3;
}

p {
    text-align: justify;
}

code {
    border-bottom: 1px solid var(--md-primary-fg-color--light);
}

pre code {
    background-color: #E3F2FD !important;
    border-bottom: 2px solid var(--md-primary-fg-color--light) !important;
}

blockquote {
    border-color: var(--md-primary-fg-color) !important;
    color: var(--md-primary-fg-color) !important;
}

hr {
    border-top: 1px solid var(--md-primary-fg-color) !important;
    border-bottom: 1px solid var(--md-primary-fg-color) !important;
    height: 3px;
    background: repeating-linear-gradient(45deg, var(--md-primary-fg-color), #ebf8e1 15px, #888888 20px);
}

img[alt="w350"] {
    width: 350px;
    min-width: 350px;
    border: 1px solid #000;
    border-radius: 10px;
}

img[alt="w700"] {
    width: 700px;
    min-width: 350px;
    border: 1px solid #000;
    border-radius: 10px;
}
